/* ---------------------Repo Here:---------------------- */

/* ---------------------GLOBAL STYLES---------------------- */
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mobile-nav-wrapper {
  overflow-y: scroll;
  overflow: overlay;
}
input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}
sup {
  top: -0.85em;
  font-size: 50%;
  left: 0.11em;
}

body.overflow-hidden {
  overflow-y: hidden;
  height: calc(100vh - env(safe-area-inset-bottom));
}
body {
  overscroll-behavior: none;
  overscroll-behavior-y: none;
}

.overflow-clip {
  overflow: clip !important;
}

.sticky-wrap {
  overflow: clip !important;
}

.padding-vertical {
  padding-right: 0rem !important;
  padding-left: 0rem !important;
}

/* ---------------------RTF-CHECKLISTS STYLES---------------------- */

/* Available colors:
 * - Default (no attribute): #444444
 * - yorange: #F4C65E
 * - pointblue: #01679a
 * - white: #FFFFFF
 * - grayLight1: #F5F5F5 (whitesmoke)
 * - gray0: #f6f7f9
 * - gray1: #e3e3e3
 * - gray2: #e0e4eb
 * - gray3: #999999
 * - gray4: #707475
 * - c-purpleblue-white: #8E9EB8 (background) with white checkmark
 * - c-yorange-white: #F4C65D (background) with white checkmark
 * - c-pointblack-white: #444444 (background) with white checkmark
 *
 * Available gap sizes:
 * - 0.25rem
 * - 0.5rem
 * - 0.75rem
 * - 1rem
 * - 1.25rem
 * - 1.5rem
 */

/* Base styling for list items */
.rtf-checklists ul li {
  list-style-type: none;
  position: relative;
  display: flex; /* Use flexbox to align items */
  align-items: center; /* Vertically center the checkmark and text */
  padding-left: 1rem; /* Adjust this to match your design */
  margin-bottom: 0.625rem;
}

/* Remove bottom margin for the last list item */
.rtf-checklists ul li:last-child {
  margin-bottom: 0 !important;
}

/* Apply default checkmark (custom SVG checkmark) */
.rtf-checklists ul li::before {
  content: "";
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 1rem;
  flex-shrink: 0;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M17.83%205L6.94%2015.84L2%2010.91%22%20stroke%3D%22%23444444%22%20stroke-width%3D%222.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
}

/* Change the checkmark color to yorange (#F4C65E) */
.rtf-checklists[check="yorange"] ul li::before {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M17.83%205L6.94%2015.84L2%2010.91%22%20stroke%3D%22%23F4C65E%22%20stroke-width%3D%222.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
}

/* Change the checkmark color to pointblue (#01679a) */
.rtf-checklists[check="pointblue"] ul li::before {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M17.83%205L6.94%2015.84L2%2010.91%22%20stroke%3D%22%2301679a%22%20stroke-width%3D%222.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
}

/* Change the checkmark color to white */
.rtf-checklists[check="white"] ul li::before {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M17.83%205L6.94%2015.84L2%2010.91%22%20stroke%3D%22%23FFFFFF%22%20stroke-width%3D%222.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
}

/* Change the checkmark color to grayLight1 (whitesmoke) */
.rtf-checklists[check="grayLight1"] ul li::before {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M17.83%205L6.94%2015.84L2%2010.91%22%20stroke%3D%22%23F5F5F5%22%20stroke-width%3D%222.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
}

/* Change the checkmark color to gray0 (#f6f7f9) */
.rtf-checklists[check="gray0"] ul li::before {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M17.83%205L6.94%2015.84L2%2010.91%22%20stroke%3D%22%23F6F7F9%22%20stroke-width%3D%222.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
}

/* Change the checkmark color to gray1 (#e3e3e3) */
.rtf-checklists[check="gray1"] ul li::before {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M17.83%205L6.94%2015.84L2%2010.91%22%20stroke%3D%22%23e3e3e3%22%20stroke-width%3D%222.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
}

/* Change the checkmark color to gray2 (#e0e4eb) */
.rtf-checklists[check="gray2"] ul li::before {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M17.83%205L6.94%2015.84L2%2010.91%22%20stroke%3D%22%23e0e4eb%22%20stroke-width%3D%222.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
}

/* Change the checkmark color to gray3 (#999999) */
.rtf-checklists[check="gray3"] ul li::before {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M17.83%205L6.94%2015.84L2%2010.91%22%20stroke%3D%22%23999999%22%20stroke-width%3D%222.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
}

/* Change the checkmark color to gray4 (#707475) */
.rtf-checklists[check="gray4"] ul li::before {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M17.83%205L6.94%2015.84L2%2010.91%22%20stroke%3D%22%23707475%22%20stroke-width%3D%222.5%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3C%2Fsvg%3E");
}

/* [Circle BG]-[Checkmark] color scheme */

/* Existing styles for purpleblue-white checkmark */
.rtf-checklists[check="c-purpleblue-white"] ul li::before {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M20%2010C20%2015.5228%2015.5228%2020%2010%2020C4.47715%2020%200%2015.5228%200%2010C0%204.47715%204.47715%200%2010%200C15.5228%200%2020%204.47715%2020%2010Z%22%20fill%3D%22%238E9EB8%22%2F%3E%3Cpath%20d%3D%22M5.71484%2010.3174L8.69621%2012.8571L14.2863%207.14282%22%20stroke%3D%22white%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%2F%3E%3C%2Fsvg%3E");
}

/* Change the checkmark color to yorange-white */
.rtf-checklists[check="c-yorange-white"] ul li::before {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M20%2010C20%2015.5228%2015.5228%2020%2010%2020C4.47715%2020%200%2015.5228%200%2010C0%204.47715%204.47715%200%2010%200C15.5228%200%2020%204.47715%2020%2010Z%22%20fill%3D%22%23F4C65D%22%2F%3E%3Cpath%20d%3D%22M5.71484%2010.3174L8.69621%2012.8571L14.2863%207.14282%22%20stroke%3D%22white%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%2F%3E%3C%2Fsvg%3E");
}

/* Change the checkmark color to yorange-white */
.rtf-checklists[check="c-yorange-white"] ul li::before {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M20%2010C20%2015.5228%2015.5228%2020%2010%2020C4.47715%2020%200%2015.5228%200%2010C0%204.47715%204.47715%200%2010%200C15.5228%200%2020%204.47715%2020%2010Z%22%20fill%3D%22%23F4C65D%22%2F%3E%3Cpath%20d%3D%22M5.71484%2010.3174L8.69621%2012.8571L14.2863%207.14282%22%20stroke%3D%22white%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%2F%3E%3C%2Fsvg%3E");
}

/* Change the checkmark color to c-pointblack-white */
.rtf-checklists[check="c-pointblack-white"] ul li::before {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M20%2010.0002C20%2015.5231%2015.5228%2020.0002%2010%2020.0002C4.47715%2020.0002%200%2015.5231%200%2010.0002C0%204.4774%204.47715%200.000244141%2010%200.000244141C15.5228%200.000244141%2020%204.4774%2020%2010.0002Z%22%20fill%3D%22%23444444%22%2F%3E%3Cpath%20d%3D%22M5.71484%2010.3177L8.69621%2012.8574L14.2863%207.14307%22%20stroke%3D%22white%22%20stroke-width%3D%222%22%20stroke-linecap%3D%22round%22%2F%3E%3C%2Fsvg%3E");
}

/* Apply gaps to list items when li-gap attribute is set */
.rtf-checklists[li-gap="0.25rem"] ul li {
  margin-bottom: 0.25rem;
}
.rtf-checklists[li-gap="0.5rem"] ul li {
  margin-bottom: 0.5rem;
}
.rtf-checklists[li-gap="0.75rem"] ul li {
  margin-bottom: 0.75rem;
}
.rtf-checklists[li-gap="1rem"] ul li {
  margin-bottom: 1rem;
}
.rtf-checklists[li-gap="1.25rem"] ul li {
  margin-bottom: 1.25rem;
}
.rtf-checklists[li-gap="1.5rem"] ul li {
  margin-bottom: 1.5rem;
}

/* Custom sizes using check-size attribute */
.rtf-checklists[check-size="1rem"] ul li::before {
  width: 1rem;
  height: 1rem;
  min-width: 1rem;
}
.rtf-checklists[check-size="1.25rem"] ul li::before {
  width: 1.25rem;
  height: 1.25rem;
  min-width: 1.25rem;
}
.rtf-checklists[check-size="1.5rem"] ul li::before {
  width: 1.5rem;
  height: 1.5rem;
  min-width: 1.5rem;
}
.rtf-checklists[check-size="1.75rem"] ul li::before {
  width: 1.75rem;
  height: 1.75rem;
  min-width: 1.75rem;
}
.rtf-checklists[check-size="2rem"] ul li::before {
  width: 2rem;
  height: 2rem;
  min-width: 2rem;
}

/* Ensure the last item doesn't have a bottom margin */
.rtf-checklists ul li:last-child {
  margin-bottom: 0 !important;
}
