* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mobile-nav-wrapper {
  overflow-y: scroll;
  overflow: overlay;
}
input:focus::placeholder,
textarea:focus::placeholder {
  color: transparent;
}
sup {
  top: -0.85em;
  font-size: 50%;
  left: 0.11em;
}
body {
  -webkit-overscroll-behavior: none;
  -ms-overscroll-behavior: none;
  overscroll-behavior: none;
  -webkit-overscroll-behavior-y: none;
  -ms-overscroll-behavior-y: none;
  overscroll-behavior-y: none;
}
.overflow-clip {
  overflow: clip !important;
}
.sticky-wrap {
  overflow: clip !important;
}
.padding-vertical {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.padding-horizontal {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
body.overflow-hidden {
  overflow-y: hidden;
  height: calc(100vh - env(safe-area-inset-bottom));
}

/* Click interaction styles */
.clickable-off {
  pointer-events: none;
}
.clickable-on {
  pointer-events: auto;
}

/* Hide focus outline for main content element */
main:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}

/* Center alignment for containers */
.container-medium,
.container-small,
.container-large {
  margin-right: auto !important;
  margin-left: auto !important;
}

/* Reset link styles */
a {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
}

/* Text truncation styles */
.text-style-3lines,
.text-style-2lines {
  display: -webkit-box;
  display: -ms-flexbox;
  display: box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -ms-box-orient: vertical;
  box-orient: vertical;
}
.text-style-3lines {
  -webkit-line-clamp: 3;
  -ms-line-clamp: 3;
  line-clamp: 3;
}
.text-style-2lines {
  -webkit-line-clamp: 2;
  -ms-line-clamp: 2;
  line-clamp: 2;
}

/* ---------------------------------- RTF Checklists ---------------------------------- */

.rtf-checklists[li-gap="0.25rem"] ul li {
  margin-bottom: 0.25rem;
}
.rtf-checklists[li-gap="0.5rem"] ul li {
  margin-bottom: 0.5rem;
}
.rtf-checklists[li-gap="0.75rem"] ul li {
  margin-bottom: 0.75rem;
}
.rtf-checklists[li-gap="1rem"] ul li {
  margin-bottom: 1rem;
}
.rtf-checklists[li-gap="1.25rem"] ul li {
  margin-bottom: 1.25rem;
}
.rtf-checklists[li-gap="1.5rem"] ul li {
  margin-bottom: 1.5rem;
}
.rtf-checklists[li-gap="1.75rem"] ul li {
  margin-bottom: 1.75rem;
}
.rtf-checklists[li-gap="2rem"] ul li {
  margin-bottom: 2rem;
}

.rtf-checklists ul li {
  background-repeat: no-repeat;
  background-position: 0 2px;
  background-image: url("https://cdn.prod.website-files.com/62fb9110be019f3cf956c118/67084d1e5b4c04a92bcf38e3_check-black.svg");
}
.rtf-checklists[check="c-yorange-white"] ul li {
  background-image: url("https://cdn.prod.website-files.com/62fb9110be019f3cf956c118/670815c5c932f9cd9055c59b_check-yorange-white.svg");
}
.rtf-checklists[check="c-purpleblue-white"] ul li {
  background-image: url("https://cdn.prod.website-files.com/62fb9110be019f3cf956c118/67081682c4aa067c9f904018_check-purpleblue-white.svg");
}
.rtf-checklists[check="c-blue-white"] ul li {
  background-image: url("https://cdn.prod.website-files.com/62fb9110be019f3cf956c118/670815c63cc627bb48358b3f_check-blue-white.svg");
}
.rtf-checklists[check="yorange"] ul li {
  background-image: url("https://cdn.prod.website-files.com/62fb9110be019f3cf956c118/67084d1e0cdec45fbd5d8ed3_check-yorange.svg");
}
.rtf-checklists[check="white"] ul li {
  background-image: url("https://cdn.prod.website-files.com/62fb9110be019f3cf956c118/67084d1e46cf57edb07a8c6c_check-white.svg");
}
.rtf-checklists[check="grey"] ul li {
  background-image: url("https://cdn.prod.website-files.com/62fb9110be019f3cf956c118/67084d1e0a619517bf124747_check-grey.svg");
}
.rtf-checklists[check="purpleblue"] ul li {
  background-image: url("https://cdn.prod.website-files.com/62fb9110be019f3cf956c118/67084d1ea7175f3e8b0db496_check-purpleblue.svg");
}
.rtf-checklists[check="blue"] ul li {
  background-image: url("https://cdn.prod.website-files.com/62fb9110be019f3cf956c118/67084d1ea5206d2fd337bbf2_check-blue.svg");
}
.rtf-checklists ul li:last-child {
  margin-bottom: 0 !important;
}
