/* chart col hover-interaction */
.chart-col-wrap:hover .chart-col {
  opacity: 1 !important;
  outline: 0.35rem solid #e8ebf0;
}

/* Cap Tooltip Z Index Fix */
#shield-2 {
  z-index: 150 !important;
}
#shield-4 {
  z-index: 140 !important;
}
#shield-6 {
  z-index: 130 !important;
}
#shield-8 {
  z-index: 120 !important;
}
#shield-10 {
  z-index: 110 !important;
}
#shield-12 {
  z-index: 100 !important;
}
#shield-14 {
  z-index: 90 !important;
}
#shield-16 {
  z-index: 80 !important;
}
#shield-18 {
  z-index: 70 !important;
}
#shield-20 {
  z-index: 60 !important;
}
#shield-22 {
  z-index: 50 !important;
}
#shield-24 {
  z-index: 40 !important;
}
#shield-26 {
  z-index: 30 !important;
}
#shield-28 {
  z-index: 20 !important;
}
#shield-30 {
  z-index: 10 !important;
}
